/* Add some global styles here! */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #8ca7cb;
}

#app {
  background-color: #f6e5cd;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

button.btn-small {
  font-size: 80%;
}

button.button-error {
  color: white;
  background: var(--red);
}

a.button {
  color: #212529;
  background-color: #f1f3f5;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
